@model IEnumerable<AgileTeamFour.UI.ViewModels.FriendVM>

@{
    ViewData["Title"] = "Chat";
}
<div id="float">
    <div id="friendsList">
        <h4>My Friends</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Friend.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Friend.SenderID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Friend.ReceiverID)
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Friend.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserSender.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserReceiver.UserName)
                        </td>
                   
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<div class="container py-3 chat-container">
    <div id="friendsChat">
        <h4>Chat</h4> <select name="friends" id="friends">
            @{
                var Friend = Model.FirstOrDefault();
                if (Friend != null)
                {
                    <option>Select Friend</option>
                    foreach (var User in Friend.FriendsList)
                    {
                        <option value="@User.UserID">@User.UserName</option>
                    }
                }
                else
                {
                    <option>Empty</option>
                }
            }
        </select>
    </div>
@if(Friend != null)
{
        var currentPlayer = @Model.FirstOrDefault().User;
        var currentUserId = currentPlayer.UserID;

        <hr />
        <div class="chat-box">
            <!-- Chat Messages Section -->
            <ul id="messagesList" class="chat-messages">
            </ul>
        </div>
        <!-- Chat Input Section -->
        <div class="chat-input">
            <textarea name="CommentText" id="comment" rows="1" placeholder="Type a message..."></textarea>
            
            @{
                int currentUser = @Model.FirstOrDefault().User.UserID;
                string? name = @Model.FirstOrDefault().User.UserName;
                string? IconPath = @Model.FirstOrDefault().User.IconPic;
            }
                @if (name == null) { name = "1"; }
            
            <input type="hidden" id="userName" value="@name" />
            <input type="hidden" id="PlayerID" value="@currentUser" />
            <input type="hidden" id="IconPath" value="IconPath" />
            <button type="submit" id="sendButton" class="btn btn-primary">
                <i class="fa fa-paper-plane"></i> Send
            </button>
        </div>
        <!--Scripts needed for SignalR chat function!-->
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat3.js"></script>   
}
</div>
<script>
    var friends = document.getElementById("friendsList");
    friends.style.marginLeft = "10px";
    friends.style.marginRight = "10px";

</script>

