@model IEnumerable<AgileTeamFour.UI.ViewModels.FriendVM>

@{
    ViewData["Title"] = "MyIndex";
}

<h1>My Friends</h1>

<p>
    <a class="btn btn-playerwell ml-3" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Friend.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Friend.SenderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Friend.ReceiverID)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Friend.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSender.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserReceiver.UserName)
            </td>
            
        </tr>
}
    </tbody>
</table>
