@model AgileTeamFour.UI.ViewModels.UserProfileVM;

<h1>@Model.CurrentUser.UserName's Profile</h1>

<div class="profile-section">
    <img class="profile-photo" src="~/images/@Model.CurrentUser.IconPic" alt="Profile Photo">
    <div class="profile-info">
        <div>@Model.CurrentUser.Bio.</div>
        <div><strong>Friends: </strong> @Model.Friends.Count()</div>
        <div><strong>Reviews: </strong> @Model.Reviews.Count()</div>
        <button id="follow-button" style="display: none;">Add Friend</button>
        <button id="unfollow-button" style="display: none;">Unfriend</button>
    </div>
</div>

<div class="user-reviews">
    <h2>Reviews</h2>
    @if (Model.Reviews.Any())
    {
        <ul class="review-list">
            @foreach (var review in Model.Reviews)
            {
                <div class="review-container">
                    <!-- Total Stars -->
                    <p>
                        @for (int i = 0; i < review.StarsOutOf5; i++)
                        {
                            <img src="~/images/star.png" alt="star" class="star-icon" />
                        }
                    </p>
                    <!-- Review Text Section -->
                    <div class="review-content">
                        <p>
                            @Html.DisplayFor(modelItem => review.ReviewText)
                        </p>
                    </div>

                    <!-- How Long ago the Review Was -->
                    <div class="review-footer">
                        <p>@((DateTime.Now - review.DateTime).Days) days ago </p>
                    </div>
                </div>
            }
        </ul>
    }
    else
    {
        <p>No reviews available</p>
    }
</div>
@if (TempData["UserID"] == null || Model.CurrentUser.UserID == (int)TempData["UserID"])
{
    <div class="user-actions">
        @Html.ActionLink("Edit", "Edit2", new { id = Model.CurrentUser.UserID }) |
        <a asp-action="Index">View All Players</a>
    </div>
}
<div class="user-actions">
    <a asp-action="Index">View All Players</a>
</div>

