@model IEnumerable<AgileTeamFour.BL.Models.User>

@{
    ViewData["Title"] = "Players";
}

<h1 class="text-center">Players</h1>

<p class="text-center">
    <a class="btn btn-primary btn-lg ml-3" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IconPic)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="profile-photo"  src="~/images/@(item.IconPic)"
                         id="programimage"
                         alt="@item.IconPic"
                         onclick="on('/images/@(item.IconPic)')"
                         class="imagepropsmall" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)                      
                </td>
                              
                @if (TempData["UserID"] == null || item.UserID == (int)TempData["UserID"])
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit2", new { id = item.UserID }) |
                        @Html.ActionLink("Details", "Details2", new { id = item.UserID }) |
                        @Html.ActionLink("Deactivate", "Deactivate", new { id = item.UserID })
                    </td>
                }
                @if (TempData["UserID"] != null && item.UserID != (int)TempData["UserID"])
                {
                    <td>
                        <a asp-action="Details" class="btn btn-playerwell text-white" asp-route-id="@item.UserID">See Profile</a>
                    </td>
                }
                              
            </tr>
        }
    </tbody>
</table>

