@model IEnumerable<AgileTeamFour.UI.ViewModels.EventDetailsVM>
@{
    ViewData["Title"] = "All Events";
}

<h1 class="text-center">All Events</h1>

<p class="text-center">
    <a class="btn btn-primary btn-lg ml-3" asp-action="Create">Create New</a>
</p>
<p>
    <a class="btn btn-secondary" asp-area="" asp-controller="Event" asp-action="Index">View Cards</a>
</p>
<div>
    @await Component.InvokeAsync("EventFilter") <!-- Calls a partial for the event filters in Views/Shared/Components-->
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event.EventID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Server)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.MaxPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Server)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.MaxPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.DateTime)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Event.EventID" class="btn btn-primary btn-sm btn-touching">Edit</a>|
                    <a asp-action="Details" asp-route-id="@item.Event.EventID" class="btn btn-primary btn-sm btn-touching">Details</a>|
                    <a asp-action="Delete" asp-route-id="@item.Event.EventID" class="btn btn-primary btn-sm btn-touching">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
