@model IEnumerable<AgileTeamFour.UI.ViewModels.EventDetailsVM>
@{
    ViewData["Title"] = "All Events";
}


@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">All Events</h1>

<p class="text-center">
    <a class="btn btn-primary btn-lg ml-3" data-toggle="modal" data-target="#createPostModal">Create New</a>
</p>

<p>
<a class="btn btn-secondary" asp-area="" asp-controller="Event" asp-action="Index2">View Tables</a>
</p>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 hover-shadow">
            <div class="card mb-4" style="width: 100%;">
                <img src="@item.Game.Picture" class="card-img-top" alt="@item.Event.Description">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Event.EventName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Event.Description)</p>
                    <a asp-action="Edit" asp-route-id="@item.Event.EventID" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Event.EventID" class="btn btn-primary btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Event.EventID" class="btn btn-primary btn-sm">Delete</a>
                    
                </div>
            </div>
        </div>
    }
</div>
