@model IEnumerable<AgileTeamFour.UI.ViewModels.EventDetailsVM>
@{
    ViewData["Title"] = "All Events";
}


@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">All Events</h1>

<p class="text-center">
    <a asp-action="Create">Create New</a>
    
</p>
<p>
<a class="nav-link" asp-area="" asp-controller="Event" asp-action="Index2">View Tables</a>
</p>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 hover-shadow">
            <div class="card mb-4" style="width: 100%;">
                <img src="~/images/Games/@item.Game.Picture" class="card-img-top" alt="@item.Event.Description">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Event.EventName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Event.Description)</p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Event.EventID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Event.EventID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Event.EventID })
                </div>
            </div>
        </div>
    }
</div>
