@using Microsoft.AspNetCore.Http;
@using AgileTeamFour.UI.Models;
@inject IHttpContextAccessor HttpContextAccessor



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AgileTeamFour.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/sandstone.min.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/AgileTeamFour.UI.styles.css" asp-append-version="true" />

    
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <section class="navigation">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow">
                <div class="container-fluid">
                    <a class="">
                        <img src="~/images/Layout/Logo.png" alt="logo" onclick="location.href='@Url.Action("Index", "Home")'">
                    </a>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PlayerWell</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Game" asp-action="Index">Games</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">Player</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Event" asp-action="Index">Event</a>
                            </li>
                           
                            <li class="nav-item">
                                @{
                                    AgileTeamFour.BL.UserManager.Seed();
                                    var username = HttpContextAccessor.HttpContext?.Session.GetString("username");
                                    var id = HttpContextAccessor.HttpContext?.Session.GetString("id");
                                    if (Authenticate.IsAuthenticated(HttpContextAccessor.HttpContext))
                                    {
                                        username = username.Replace("\"", "");
                                    <li class="nav-item">
                                        <a class="nav-link text-light">@username</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-controller="User" asp-action="Logout">Logout</a>
                                    </li>
                                    }
                                    else
                                    {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-controller="User" asp-action="Login">Login</a>
                                    </li>
                                    }
                                }
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
    </header>
    <div class="container">
        <main role="main" class="pb-3 pt-5">
            @if (TempData["error"] != null)
            {
                <div class="error" style="color:black">
                    <h2>@TempData["error"]</h2>
                </div>
            }

            @RenderBody()
        </main>
        <div id="overlay" onclick="off()">
            <div id="imageproplarge">
                <img class="imageproplarge" id="output" />
            </div>
        </div>
    </div>

    <footer class="navigation mt-5 border-top footer text-white">
        <div class="container">
            &copy; 2024 - PlayWell - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script type="text/javascript">
    function off() {
        console.log('Off');
        document.getElementById("overlay").style.display = "none";

    }

    function on(picture) {
        console.log('On');
        document.getElementById("overlay").style.display = "block";
        document.getElementById("output").src = picture;
    }
</script>