@model IEnumerable<AgileTeamFour.BL.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Generate">Generate New Review Requests</a>
</p>
<p>
    <a asp-action="Remove">Remove Inactive Review Requests</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarsOutOf5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarsOutOf5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipientID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
                </td>
            </tr>
        }
    </tbody>
</table>
