@model IEnumerable<AgileTeamFour.PL.tblGuild>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuildName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaderId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuildName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GuildId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GuildId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GuildId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
