@model IEnumerable<AgileTeamFour.UI.ViewModels.GuildDetailsVM>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Guild List</h1>

<p class="text-center">
    <a class="btn btn-primary btn-lg ml-3" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guild.GuildName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guild.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaderName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Guild.GuildName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guild.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
               @*  <a asp-action="Edit" class="btn btn-light" asp-route-id="@item.Guild.GuildId">Edit</a> | *@
                <a asp-action="Details" class="btn btn-playerwell text-white" asp-route-id="@item.Guild.GuildId">Guild Details</a>
                @* <a asp-action="Delete" asp-route-id="@item.Guild.GuildId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
