@model AgileTeamFour.BL.Models.Game

@{
    ViewData["Title"] = "Details";
}



<div class="container">

    <h1 class="text-decoration-underline">@Model.GameName</h1>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            
            <dl class="">
        
        

             
                <dt class = "mt-3">
                    @Html.DisplayNameFor(model => model.GameName)
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.GameName)
                </dd>
        

            
                <dt class = "mt-3">
                   @Html.DisplayNameFor(model => model.Platform)
                </dt>
                <dd class = "">
                   @Html.DisplayFor(model => model.Platform)
                </dd>
            

            
                <dt class = "mt-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            
        
                <dt class = "mt-3">
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.Genre)
                </dd>
            
            </dl>
        </div>

            <div class="col-sm-8">
                <dd class="">
                    <img src="@Model.Picture"
                         class="imagelarge"
                         id="movieimage"
                         alt="@Model.Description"
                         onclick="on('@Model.Picture')" />
                </dd>
            </div>
        </dl>
    </div>
</div>
<div class="mb-3">
    <a class="btn btn-primary btn-lg ml-3" asp-area="" asp-controller="Event" asp-action="EventsForGame" asp-route-gameID="@Model.GameID">View Events</a>
</div>
<div>
    <a class="btn btn-secondary btn-sm ml-3" asp-area="" asp-controller="Game" asp-action="Edit" asp-route-id="@Model.GameID">Edit</a>

    <a class="btn btn-secondary btn-sm" asp-action="Index">Back to List</a>
    

</div>



